@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
  }
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
html {
    scroll-behavior: smooth;
  }

  header{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700;
    text-align: center;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 90px;
    position: relative;
}

.brand-title {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
.brand-title img{
    width: 20%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-left: 1rem;
}

.navbar-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    outline: 1px solid black;
    font-size: small;
    padding: 3px 25px;
    border-radius: 50px;
    font-weight: 400;
}
.navbar-links .buy{
        color: rgb(255, 255, 255);
        text-decoration: none;
        background-color: black;
        outline: 1px solid black;
        font-size: small;
        padding: 3px 25px;
        border-radius: 50px;
        font-weight: 700;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 4rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .navbar{
        padding: 20px 50px;
    }
    .toggle-button {
        display: flex;
        margin-top: 8px;
    }
    .brand-title img{
        width: 40%;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 250px;
        background-color: #ffffff;
        padding-top: 2rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        text-align: left;
        box-shadow: 2px 2px black;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .navbar-links li {
        text-align: left;
        margin: 1rem 0;
    }

    .navbar-links.active {
        display: flex;
        transform: translateX(0);
    }
    .navbar-links .buy{
        color: rgb(0, 0, 0);
        text-decoration: none;
        background-color: rgb(255, 255, 255);
        outline: 0px solid black;
        font-size: medium;
        padding: 3px 25px;
        border-radius: 50px;
        font-weight: 500;
}
.navbar-links .nobuy{
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    outline: 0px solid black;
    font-size: medium;
    padding: 3px 25px;
    border-radius: 50px;
    font-weight: 500;
}
}
hr{
    margin: 0;
    padding: 0;
    opacity: 0.3;
}
.home{
    padding: 30px 130px;
    padding-bottom: 0px;
}
.home .section{
    line-height: 30px;
}
.section h1{
    margin-bottom: 13px;
}
.section h3{
    margin-bottom: 10px;
}
.section h4{
    margin-top: 15px;
    font-size: 17px;
}
.copy{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    padding: 50px 30px;
    padding-bottom: 30px;
}
@media (max-width: 768px){
    .home{
        padding: 30px 30px;
        padding-bottom: 0px;
    }
}